:root {
  --padding-content: 0 129px 183px 129px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "roboto", "Helvetica Neue";
  line-height: 18.75px;
}

a {
  text-decoration: none;
}
#container {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto 79px;
}

#sidebar {
  background-color: #191718;
  width: 150px;
  grid-column: 1;
  grid-row: 1/3;
}

#sidebar a {
  color: #aaaaaa;
  padding: 20px 15px;
}

#sidebar li:hover {
  background-color: #5c5c5c;
}

#sidebar li:hover a {
  color: #ffffff;
}

#sidebar ul {
  width: 100%;
}

#sidebar li {
  border-bottom: 1px solid #5c5c5c;
  display: inline-block;
  width: 100%;
  padding: 16px 14px 11px 14px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-content);
  grid-column: 2;
  grid-row: 1;
}
.brand {
  /* text-align: center; */
  padding: 20px 0 30px 0;
}

.brand .img-brand {
  object-fit: cover;
}

.brand img {
  width: 310px;
}
.ad {
  text-align: center;
  padding: 38px 269px;
  background-color: #efefef;
  margin-bottom: 50px;
}

.ad h2 {
  font-size: 18px;
  margin-bottom: 18px;
}

.content-item {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.content-item h2 {
  margin-bottom: 18px;
}
.item img {
  float: left;
  width: 128px;
  padding: 0 16px 6px 0;
}

#footer {
  border-top: 1px solid #dedede;
  grid-row: 2;
  grid-column: 2;
  padding-left: 129px;
}
#footer p {
  padding: 30px 0;
  color: #3e3e3e;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.navbar-icon {
  display: none;
  color: #191718;
  padding: 25px 0 0 50px;
}
.navbar-icon i {
  font-size: 18px;
}

.navbar-icon i:hover {
  cursor: pointer;
}

/*////////////////////*/
/* RESPONSIVE TABLET */
@media (max-width: 1024px) {
  :root {
    --padding-content: 0 90px 50px 90px;
  }
  .ad {
    text-align: center;
    background-color: #efefef;
    margin-bottom: 50px;
  }
  .content-item {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
  }
  /* #content {
    padding: 0 90px 50px 90px;
  } */
}

/*////////////////////*/
/* RESPONSIVE PHONE */
@media (max-width: 768px) {
  :root {
    --padding-content: 0;
  }
  #container {
    display: flex;
    flex-direction: column;
  }
  #sidebar {
    background-color: transparent;
  }
  #sidebar ul {
    display: none;
  }
  .navbar-icon {
    display: block;
  }
  .brand {
    width: 100%;
  }
  .brand .img-brand {
    text-align: center;
    width: 100%;
  }
  .img-brand img {
    width: 79%;
  }

  .ad {
    text-align: left;
    background-color: #efefef;
    margin-bottom: 50px;
  }

  .ad h2 {
    font-size: 18px;
    margin-bottom: 18px;
  }

  #footer {
    padding: 0 50px;
  }
  .item {
    padding: 0 50px;
  }
}

@media (max-width: 1400px) {
  .ad {
    padding: 38px 50px;
  }
}
